
.vs/WaveOutputTest/v16/.suo
*.db
*.db-shm
*.db-wal
*.ipch
*.vcxproj
*.vcxproj
*.filters
*.idb
*.pdb
*.recipe
x64/Debug/WaveOutputTest.exe.recipe
*.log
*.tlog
*.lastbuildstate
x64/Debug/WaveOutputTest.vcxproj.FileListAbsolute.txt
x64/Debug/WaveOutputTest.obj
